/*DEFAULT THEME*/
$green: #5CDB95;
$mint: #8EE4AF;
$ltMint: #c4f9d8;
$dusk: #379683;
$snow: #EDF5E1;
$navy: #05386B;


$night: #222;
$night2: #020202;
$salmon: #e6785c;
$sky: #c5d9f7;
$cotton: #f0f7ef;

.theme-default {
  .bg-md       { background-color: $green }
  .bg-md-lt    { background-color:  $mint }
  .bg-md-dk    { background-color:  $dusk }
  .bg-lt       { background-color:  $snow }
  .bg-dk         { background-color:  $navy }

  .txt-md { color: $green }
  .tst-md-lt  { color:  $mint }
  .txt-md-dk  { color:  $dusk }
  .txt-lt  { color:  $snow }
  .txt-dk  { color:  $navy }
}

.theme-zardoz {
  .bg-md {
    background-color: $sky
  }
  .bg-md-lt {
    background-color: $salmon
  }
  .bg-md-dk {
    background-color: $night2
  }
  .bg-lt {
    background-color: $cotton
  }
  .bg-dk {
    background-color: $night
  }

  .txt-md {
    color: $sky
  }
  .tst-md-lt {
    color: $salmon
  }
  .txt-md-dk {
    color: $night2
  }
  .txt-lt {
    color: $cotton
  }
  .txt-dk {
    color: $night
  }
}

$themes: (
        default: (
                lt: $snow,
                xtraLt: $ltMint,
                mdLt: $mint,
                md: $green,
                mdDk: $dusk,
                dk: $navy,
                cellBg: $snow,

        ),
        zardoz: (
                lt: $cotton,
                xtraLt: $cotton,
                mdLt: $salmon,
                md: $sky,
                mdDk: $night2,
                dk: $night,
                cellBg: $cotton
        ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}



